.header {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(90deg, #008ecb, #5b5b5b);
  padding: 8px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  .headerInside {
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .container_left {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: baseline;
      .logo {
        margin: 10px;
      }
      .logo_names {
        margin: 10px;
        color: #fff;
      }
    }
    .container_right {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .linked {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
